
/*-- BASE GENERALE DU STYLE --*/

*, *:before, *:after   /*-- box-sizing pour gérer les dimensions  --*/
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bloc_body
{
    display: flex;
    justify-content: center;    
}

body
{
    display: flex;
    flex-direction: column;
    font-family: raleway, Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1440px; 
    padding: 50px 100px 0 100px; 
    margin: auto;  
}
.logo-reservia
{
    width: 0.3em;
    margin-top: 12px;
}

a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p{
    margin: 2px;    
}

p header
{
    margin-right: 20px;
    font-size: 1.6em;
}

h1 
{
    font-size: 1.4em;
    margin: 0px;
}

h3 
{
    font-size: 1.2em;
}


/*-- HEADER & LIENS --*/

h1, .txt_find_accomodations
{
    margin-bottom: 0.1em;
}

ul li 
{
    font-size: 1em;
}

header
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px; 
}

nav
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #0065fc;
    margin: 0 0 5px 0;
}

header li
{
    margin: 0 10px 0 50px;    
}


nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}


/*-- RECHERCHE ET MARKER POSITION --*/

.search
{
   display: flex;
   margin: 20px 0 25px 0;
}  
 
.fa-map-marker-alt
{
    border: 0px solid #e3e3e3;
    height: 52px;
    min-width: 52px;
    max-width: 52px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
    color: black;
    text-align-last: center;
    font-size: 18px; 
    padding-top: 15px;
}

.search_space
{
    background-color: #ffffff;
    border-color: #ffffff;
    border-image: initial;
    font-weight: bold; 
    font-size: 19px;
    color: black;
    padding-left: 30px;
    height: 52px; 
    border: 1px solid #f2f2f2; 
    width: 220px;
    min-width: 12%;
    max-width: 88%;
}

.research
{
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding: 0px 25px 0px 25px;
    color: #eeeeee;
    text-align: center;
    font-size: 1em;
    height: 52px;
    cursor: pointer;
    width: 150px;
}

/*-- FILTRES ECO/FAMILY/ROMANCE/PETS + INFOS --*/

.filters h3
{
    padding-right: 25px
}


.filters_box, .filters
{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
   
}

.fa-money-bill-wave
{
    background-color: #deebff;   
    color: #0065fc;
    border-radius: 50%;
    padding: 15px;
    height: 52px;
    width: 52px;    
}

.fa-child, .fa-heart, .fa-dog 
{
   
    background-color: #deebff;
    text-align: center;
    color: #0065fc;
    border-radius: 50%;
    padding: 15px;  
    width: 52px;
    height: 52px;    
}

.search_area
{
    color: rgb(0, 0, 0);    
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid #f2f2f2;
    border-radius: 45px 45px 45px 45px; 
    margin: 0 0 0 20px; 
    padding-right: 20px;
}

.search_area:hover
{
    background-color: #deebff;
    border-radius: 45px 45px 45px 45px;
    padding: 0 -50px 0 0px;
    color: #0065fc;
}

.info
{
    display: flex;
    margin-top: 50px;
}

.fa-info
{
    background-color: rgb(255, 255, 255);
    color: #0065fc;
    font-size: smaller;
    padding: 0.3em;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #f2f2f2;
    width: 23px;
    height: 23px;
    text-align: center;
}

/*---------------------------* MENU CENTRAL*----------------------------------*/
/*-- HEBERGEMENTS PAR DESTINATION --*/

.central_2_mains
{
    display: flex;
    justify-content: space-between; 
}

.central_accomodations
{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 70%;    
    margin-top: 25px;
    max-height: 625px; 
    height: 625px;     
}

.central_accomodations h1, h2
{
    margin-top: 47px;
    padding-left: 40px;
}
.central_accomodations h2
{
    margin-bottom: 50px;
    padding-left: 40px;
    font-size: larger;
}

.hotel_bloc1, .hotel_bloc2
{
    display: flex;
    justify-content: space-around;
    margin: 30px;
   
}

.hotel   /*cadre vignettes hotel et ombres*/
{
    background-color: #ffffff;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(225, 225, 225);
    width: 30%;
    max-height: 200px;
    max-height: 248px;
}

.card_image
{
    width: 250px;
    max-width: 250px; 
}

.fa-star
{
    font-size: small;
    padding-left: 0.6em;
    color: #f2f2f2;     
}
.fa-star.blue 
{
	color: #0065fc;
    letter-spacing: -10px;
}
.title_card 
{
    font-size: 16px;    
    font-weight: bold;
    padding: 5px;
}

.price 
{
    font-size: small;
    font-weight: normal;
    padding: 5px;
}

.hotel p
{
    margin: 0px 0 0 1px;
}

.hotel img
{
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-top: 1px;    
}



/*-------------- HEBERGEMENTS POPULAIRES --------------------*/



.central_popular
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 8%;
    max-height: 625px;
    margin-top: 25px;
    padding: 47px 37px 0 0;
    max-width: 420px;
    width: 420px;
    margin-left: 40px;
}

.title_popu-chart
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 25px;
    margin-bottom: 20px;
}

.fa-chart-line
{
    font-size: larger;
}

.card_pop_image
{
    width: 100%;
    height: 145px;
    max-width: 128px;
    min-width: 128px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 5px 5px 5px 5px;
}

.hotel_bloc3
{
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    margin-left: 35px;
}

.hotel_pop_box
{

    display: flex;
    background-color: white;
    border-radius: 25px;
    max-height: 145px; 
    margin-bottom: 35px; 
}

.hotel_pop_box, .card_pop_image
{
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
}

.pop_txt_info
{
    color: black;    
}

.title_card_popu
{
    font-size: 16px;    
    font-weight: bold;
}

.price_popu, .title_card_popu
{
    margin-left: 10px;
    margin-top: 15px;
}


.pop_txt_info, .stars
{
   margin-top: 2px;
}

/*--------------- ACTIVITÉS SUR DESTINATION------------------*/


.title_activities, h2
{
    padding-left: 5px;
}


.activities
{
    display: flex;
    justify-content: space-between;
}

.acti_first, .acti_second, .acti_three, .acti_four
{
    width: 22%; 
    background-color: white; 
    border-radius: 20px;
    margin: 10px;
         
}
.acti_second
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.acti_four
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acti_first a
{
    color: #333; 
    text-decoration: none;
    cursor: pointer;
}


.card_pic
{
    position: relative;
    overflow: hidden;
    min-height: 390px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0 3px rgb(225, 225, 225);
}

.card_pic2
{
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0 3px rgb(225, 225, 225);
}

.card_pic3
{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0 3px rgb(225, 225, 225);    
}

.card_pic4
{
    position: relative;
    overflow: hidden;
    height: 390px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0 3px rgb(225, 225, 225);    
}
.card_pic5
{
    position: relative;
    overflow: hidden;
    height: 140px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0 3px rgb(225, 225, 225);    
}
.card_pic6
{
    position: relative;
    overflow: hidden;
    height: 154px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0 3px rgb(225, 225, 225);    
}



.card_body
{
    font-size: medium;  
    font-weight: bold;
    padding: 20px;   
    text-align: start;
    border-radius: 15px 0 15px 15px;
    box-shadow: 0 3px 3px rgb(225, 225, 225);    
}


/*------------------------ FOOTER ----------------------------*/

.header
{
    margin: auto;
    width: 1440px;e
}


.foot_3box
{
    background-color: #F2F2F2;
    height: 217px; 
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 100px;
    align-content: center;
    padding-top: 50pxe;
}

.about nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
}
.accomodations nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
}
.assistance nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
}


li .about
{
    font-weight: bolder;
}
li .accomodations
{
    font-weight: bolder;
}
li .assistance 
{
    font-weight: bolder;
}













    











