
/*-- BASE GENERALE DU STYLE --*/
body
{
    font-family: raleway, Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    max-width: 1440px;            
}

h1
{
    font-size: 1.34em;
    font-weight: bolder;
    
}


/*-- HEADER & LIENS --*/
header
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;        
}
nav
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #0065fc;
}

.fas .fa
{
    font-weight: 900;
}

nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

li
{
    margin: 0 10px 0 50px;
    text-underline-position: above; 
}

/*-- RECHERCHE ET MARKER POSITION --*/
.search
{
    display: flex;
   margin: 20px 0 50px 0;
}  
 
.fa-map-marker-alt
{
    border: 0px solid #e3e3e3;
    height: 37px;
    width: 51px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
    color: black;
    text-align-last: center;
    font-size: 18px; 
    position: fixed;
    padding-top: 15px;    
}

.search_btn
{
    background-color: #ffffff;
    border-color: #ffffff;
    border-image: initial;
    font-weight: bold; 
    font-size: 1em;
    color: black;
    height: 48px; 
    border: 1px solid #f2f2f2; 
    max-width: 200px; 
    min-width: none;
    margin-left: 50px;
    padding-left: 20px;
   
    
}

.research
{
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding: 0px 35px 0px 15px;
    color: #eeeeee;
    text-align: center;
    font-size: 1em;
    height: 52px;
    cursor: pointer;
    max-width: 150px;
    
}

/*-- FILTRES ECO/FAMILY/ROMANCE/PETS --*/

.filters_box .flitersicons
{
    background-color: #deebff;
    color: #0065fc;
    margin-right: 15px; 
    border-radius: 50%;
    padding: 600px;  
}

.fa-money-bill-wave 
{
    color: #0065fc;


}














