body
{
    font-family: raleway, Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    max-width: 1440px;            
}

header
{
    display: flex;
    justify-content: space-between;        
}

.menu ul
{
    display: flex;
    list-style: none;
}

li
{
    margin: 0 20px 0 20px;
}


.box_filters
{
    display: flex;
    justify-content: baseline;  
    margin-top: 20px;     
}

.eco
{
    margin: 0 20px 10px 20px;
    border: 0ch;
    height: 50px; 
}
.fas
{
    color: #0065fc;
    font-size: 20px;
} 



